<div class="inner-page">
  <div class="container">
    <div class="page-mainbar landing">
      <!-- Landing Content -->
      <div class="landing-content">
        <!-- Landing Content Item -->
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-red animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi6.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Lam Libero Extempore</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-green animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi7.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Secrete Anglicising Slit</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-lblue animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi12.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Sonatas Error Limit</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-purple animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi8.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Sonatas Error Limit</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-yellow animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi9.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Sonatas Error Limit</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Landing Item -->
            <div class="landing-item br-pink animation fadeInUp">
              <!-- Icon -->
              <img src="img/flat-icon/fi10.png" class="img-responsive" alt="">
              <!-- Heading -->
              <h4>Sonatas Error Limit</h4>
              <!-- Paragraph -->
              <p>when our power of choice is untrammelled and when nothing prevents our being able to do what we like best avoided.</p>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>