

<div class="box-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="row">

          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-md br-yellow animated animation fadeInUp">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">GO</span>
              </div>
              <!-- Box Link -->
              <a href="/portfolio">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-book"></i>
                  <!-- Box Title -->
                  <span class="box-title">My Projects</span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->
        <div class="box box-lg br-red animated animation fadeInUp">
          <div class="box-content box-service box-default">
            <!-- Heading -->
            <h4><i class="fa fa-trophy"></i> Skills</h4>
            <!-- Paragraph -->
            <p>In only a few short months at The Flatiron School I have learned several awesome techonolgies. I cant wait to see what I will learn in the next three months!</p>
            <!-- Box Service List -->
            <ul class="list-unstyled">
              <li><i class="fa fa-check-square-o"></i> Ruby</li>
              <li><i class="fa fa-check-square-o"></i> Rails</li>
              <li><i class="fa fa-check-square-o"></i> HTML5</li>
              <li><i class="fa fa-check-square-o"></i> Javascript</li>
              <li><i class="fa fa-check-square-o"></i> Node.js</li>
              <li><i class="fa fa-check-square-o"></i> SQL</li>
            </ul>
          </div>
        </div>
      </div>
       <div class="col-md-4 col-sm-6">
        <!-- Box Outer Layer [ Box 3 ] -->
        <div class="box box-lg br-blue animated animation fadeInUp">
                    <div class="box-content box-service-counter box-default">
            <!-- Heading -->
            <h4><i class="fa fa-gears"></i> Activity</h4>
            <div class="row">
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Service Counter Item -->
                <div class="service-item">
                  <!-- Counter Number -->
                  <span class="s-counter stop-counter" data-from="0" data-to="190" data-speed="2500" data-refresh-interval="100">3</span>
                  <!-- Heading -->
                  <h3>Months</h3>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Service Counter Item -->
                <div class="service-item">
                  <!-- Counter Number -->
                  <span class="s-counter stop-counter" data-from="0" data-to="195" data-speed="2500" data-refresh-interval="100">385</span>
                  <!-- Heading -->
                  <h3> Contributions</h3>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Service Counter Item -->
                <div class="service-item">
                  <!-- Counter Number -->
                  <span class="s-counter stop-counter" data-from="0" data-to="175" data-speed="2500" data-refresh-interval="100">197</span>
                  <!-- Heading -->
                  <h3>Pull Requests</h3>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6">
                <!-- Service Counter Item -->
                <div class="service-item">
                  <!-- Counter Number -->
                  <span class="s-counter stop-counter" data-from="0" data-to="180" data-speed="2500" data-refresh-interval="100">10</span>
                  <!-- Heading -->
                  <h3>Public Repos</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-0">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- Box Outer Layer [ Box 6 ] -->
            <div class="box box-md br-lblue pull-up animated animation fadeInUp">
              <!-- Box Hover Effect -->
              <div class="box-hover box-hover-black">
                <!-- Hover Icon -->
                <span class="hover-icon">GO</span>
              </div>
              <!-- Box Link -->
              <a href="mailto:vinnyalfieri@gmail.com?Subject=From Website" target="_top">
                <!-- Box Link Content -->
                <div class="box-content navigation">
                  <!-- Box Icon -->
                  <i class="fa fa-phone"></i>
                  <!-- Box Title -->
                  <span class="box-title">Contact Me</span>
                </div>
              </a>
            </div>
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>