<div class='inner-page'>
  <div class='container'>
  <div class="row">
  <div class="col-md-12">
    <div class='page-mainbar portfolio'>
      <h3>My Portfolio</h3>
      <div class="portfolio-content">
          <div id='portfolio' style="position: relative">
            <div class="element one three" style="position: absolute; left: 0px; top: 0px;">
              <a href="http://campusbazaar.herokuapp.com" class="prettyphoto" target="_blank">
                <%= image_tag('campus-bazaar.png') %>
                <!-- Portfolio caption -->
                <div class="pcap br-green">
                  <h4>The Campus Bazaar</h4>
                  <p>Buy and sell your used items with your fellow classmates.</p>
                  <p>Technologies Used: Ruby on Rails, JQuery, AWS, Venmo API</p>
                </div>
              </a>
            </div>
            <div class="element two one" style="position: absolute; left: 215px; top: 0px;">
              <a href="http://knit.herokuapp.com" class="prettyphoto" target="_blank">
                <%= image_tag('knit.png') %>
                <!-- Portfolio caption -->
                <div class="pcap br-blue">
                  <h4>Knit</h4>
                  <p>View your favorite family and friends Twitter, Instagram, and Facebook posts together in ONE feed!</p>
                  <p>Technologies Used: Ruby on Rails, Twitter API, Facebook API, Instagram API, O-Auth</p>
                </div>
              </a>
            </div>   
            <div class="element three five" style="position: absolute; left: 430px; top: 0px;">
              <a href="http://down-to-earth.herokuapp.com" class="prettyphoto" target="_blank">
                <%= image_tag('down-to-earth.png') %>
                <!-- Portfolio caption -->
                <div class="pcap br-red">
                  <h4>Down To Earth</h4>
                  <p>Spin the globe and click anywhere to see the closest street view!</p>
                  <p>Technologies Used: Node JS, Google Maps API, Web GL Api</p>
                </div>
              </a>
            </div>                 
          </div>
      </div>
    </div>
    </div>
    </div>
  </div>
</div>