<div class="sidebar">
  <div class="s-widget">
    <!-- Heading -->
    <h5><i class="fa fa-folder color"></i>&nbsp; Categories</h5>
    <!-- Widgets Content -->
    <div class="widget-content categories">
      <ul class="list-6">
        <li><a href="#">Web Designing <span class="color">(5)</span></a></li>
        <li><a href="#">Graphic Design <span class="color">(5)</span></a></li>
        <li><a href="#">PHP Dev <span class="color">(5)</span></a></li>
        <li><a href="#">Android Dev <span class="color">(5)</span></a></li>
        <li><a href="#">Photoshop <span class="color">(5)</span></a></li>
        <li><a href="#">WordPress <span class="color">(5)</span></a></li>
      </ul>
    </div>
  </div>
  <div class="s-widget">
    <h5><i class="fa fa-share color"></i>&nbsp; Social Media</h5>
    <!-- Widgets Content -->
    <div class="widget-content brand-bg">
      <!-- Social Media Icons -->
      <a href="#" class="facebook"><i class="fa fa-facebook square-3 rounded-1"></i></a>
      <a href="#" class="twitter"><i class="fa fa-twitter square-3 rounded-1"></i></a>
      <a href="#" class="google-plus"><i class="fa fa-google-plus square-3 rounded-1"></i></a>
      <a href="#" class="linkedin"><i class="fa fa-linkedin square-3 rounded-1"></i></a>
      <a href="#" class="pinterest"><i class="fa fa-pinterest square-3 rounded-1"></i></a>
      <a href="#" class="dropbox"><i class="fa fa-dropbox square-3 rounded-1"></i></a>
      <a href="#" class="foursquare"><i class="fa fa-foursquare square-3 rounded-1"></i></a>
      <a href="#" class="flickr"><i class="fa fa-flickr square-3 rounded-1"></i></a>
      <a href="#" class="github"><i class="fa fa-github square-3 rounded-1"></i></a>
      <a href="#" class="instagram"><i class="fa fa-instagram square-3 rounded-1"></i></a>
      <a href="#" class="skype"><i class="fa fa-skype square-3 rounded-1"></i></a>
      <a href="#" class="tumblr"><i class="fa fa-tumblr square-3 rounded-1"></i></a>
      <a href="#" class="dribbble"><i class="fa fa-dribbble square-3 rounded-1"></i></a>
      <a href="#" class="youtube"><i class="fa fa-youtube square-3 rounded-1"></i></a>
    </div>
  </div>
</div>