<div class="container" style="position: absolute; bottom: 0px;">
  <!-- Footer Content -->
    <!-- Paragraph -->
    <p class="pull-left">Copyright © 2015 - <a href="#">Vincent Alfieri</a></p>
    <ul class="list-inline pull-right">
      <!-- List -->
      <li><%= link_to "Home", root_path %></li>
      
    </ul>
    <center>
     
    <center>
    <!-- Clearfix -->
    <div class="clearfix"></div>
</div>