<div class="header-info">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="social">
          <a href="https://github.com/makafis" target="_blank" class="facebook"><i class="fa fa-github"></i></a>
          <a href="https://www.facebook.com/vinny.alfieri.3" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/vinnyalfieri" target="_blank" class="facebook"><i class="fa fa-twitter"></i></a>
          <a href="https://instagram.com/VINNY88A" target="_blank" class="facebook"><i class="fa fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/vincentalfieri" target="_blank" class="facebook"><i class="fa fa-linkedin"></i></a>
          <a href="https://plus.google.com/+VinnyAlfieri/" target="_blank" class="facebook"><i class="fa fa-google-plus"></i></a>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="contact-info">
          <span><i class="fa fa-envelope br-blue"></i> <strong>vinnyalfieri@gmail.com</strong></span>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="contact-info">
          <span><i class="fa fa-phone br-blue"></i> <strong>908 - 907 - 0356</strong></span>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="header-navigation" >
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <!-- Logo section -->
        <div class="logo">
          <h1>
          <a href="/"><i class="fa fa-cubes br-red"></i> Vincent Alfieri</a>
          </h1>
        </div>
      </div>
      <div class='col-md-1'>
      </div>
      <div class="col-md-7">  
              <!-- Navigation starts.  -->
        <nav class="navbar navbar-default" role="navigation">    
          <div class="navbar-header">
            <button type="button" class="navbar-toggle br-orange" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 0px;">
            <ul class="nav navbar-nav nabar-right">
              <li>
                <a href="/" class="br-orange">
                  <!-- Link Icon -->
                  <i class="fa fa-home link-icon"></i>
                  <!-- Link Title -->
                  <span class="link-title">Home</span>
                </a>
              </li>
              <li>
                <a href="http://makafis.github.io/archives/" target="_blank" class="br-pink">
                  <!-- Link Icon -->
                  <i class="fa fa-newspaper-o link-icon"></i>
                  <!-- Link Title -->
                  <span class="link-title">Blog</span>
                </a>
              </li>
              <li>
                <a href="/portfolio" class="br-purple">
                  <!-- Link Icon -->
                  <i class="fa fa-cloud link-icon"></i>
                  <!-- Link Title -->
                  <span class="link-title">Projects</span>
                </a>
              </li>
              <li>
                <a href="https://learn.co/makafis/resume" target="_blank" class="br-yellow">
                  <!-- Link Icon -->
                  <i class="fa fa-file-text link-icon"></i>
                  <!-- Link Title -->
                  <span class="link-title">Resume</span>
                </a>
              </li>
              <li>
                <a href="mailto:vinnyalfieri@gmail.com?Subject=From Website" target="_top" class="br-lblue">
                  <!-- Link Icon -->
                  <i class="fa fa-phone link-icon"></i>
                  <!-- Link Title -->
                  <span class="link-title">Contact</span>
                </a>
              </li>
            </ul>
          </div>
        </nav>              
         <!-- Navigation ends -->        
      </div>
    </div>
  </div>
</div>



